.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    position: relative;
    background-color: #f2f2f2;
    z-index: -1;
    overflow: hidden;
  }
  
  .logo {
    height: auto;
    width: 154px;
  
  }
  
  .logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    z-index: 1;
  }
  
  .header__title {
    width: 730px;
    margin-left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    display: flex;
    justify-items: center;
    align-items: center;
  }
  
  .header__subtitle {
    width: 380px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    left: 64px;
    bottom: 30px;
  }
  
  .header__link {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    left: 64px;
    bottom: 20px;
    text-decoration: none;
    color: #2f80ed;
    
  }
  
  .header-link:hover {
    opacity: 0.5;
  }
  
  .header__main-illustration {
    width: 756px;
    height: 608px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  .header__square-pic {
    height: 568px;
    width: 568px;
    position: absolute;
    top: 64px;
    right: 0px;
    background-color: #2f80ed;
    z-index: -1;
    transform: rotate(-15deg);
  }
  
  .header__square-pic_rotation {
    animation: rotation 20s linear infinite;
  }