/*          Blok Deskripsi             */

.two-columns {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
  }
  
  .brief {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    width: 175px;
    margin-left: 100px;
    color: #2f80ed;
  
  }
  
  .main-text {
    width: 80%;
  }
  
  .paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    min-width: 784px;
    width: 80%;
    margin-bottom: 30px;
  }
  
  .span-accent {
    font-weight: bold;
  }
  
  
  /*           Blok Digits            */
  
  .digits {
    margin: 100px auto;
  }
  
  .section-title {
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    width: 60%;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
  }
  
  .section-subtitle {
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    width: 60%;
  }
  
  .table {
    margin: 60px auto 0 auto;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .table__cell {
    width: 250px;
    margin-top: 60px;
  }
  
  .table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
  }
  
  .table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
  }
  
  
  /*          Blok Feynman             */
  
  .feynman {
    height: 790px;
    margin: 80px auto 0 auto;
    position: relative;
    background-image: url("/images/feynman.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-color: #f2f2f2;
  }
  
  .feynman__title {
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
    width: 775px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
  }
  
  .feynman__subtitle {
    margin-top: 70px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    display: flex;
    justify-content: center;
  
  }
  
  .feynman__link {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    position: absolute;
    right: 48px;
    top: 50%;
    text-decoration: none;
    color: #2f80ed;
  }
  
  .feynman__link:hover {
    opacity: 0.5;
  }
  
  .feynman__background-image {
    width: 867px;
    height: 637px;
  
  }
  
  
  /*          Blok Kaufman             */
  
  .kaufman {
    background-color: #1f1f1f;
    overflow: hidden;
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  
  .section-title_theme_dark {
    color: white;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    width: 60%;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .section-subtitle_theme_dark {
    color: white;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    width: 60%;
  }
  
  .table_theme_dark {
    margin: 0 auto 0 auto;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
  }
  
  .table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
    z-index: 1;
  }
  
  .table__heading_theme_dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
  }
  
  .table__text_theme_dark {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
  }
  
  .kaufman__triangle {
    width: 660px;
    height: 636px;
    position: absolute;
    right: -124px;
    top: 0;
    z-index: 0;
  }
  
  .kaufman__triangle-rotation {
    animation: rotation 20s linear infinite;
  }
  
  
  
  /*  ++ block techniques 'sprint 2'   */

  .techniques {
    margin: 100px auto 0 auto;
  } 
  
  .section-title_techniques {
    line-height: 1.15;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 180px;
  }
  
  .cards__item {
    margin-right: 100px;
    margin-top: 60px;
    width: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .cards__image{
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }
  
  .cards__title {
    line-height: 1.5;
    font-weight: bold;
    font-size: 24px;
  }
  
  .cards__description {
    line-height: 23px;
    font-weight: normal;
    font-size: 18px;
  }
  
  
  /*             Blok video             */
  
  .video {
    margin-top: 100px;
  }
  
  .video__iframes {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  
  .video__iframes-1 {
    margin-right: 20px;
  }
  
  
  /*              BloK Khan            */
  
  .khan {
    width: 80%;
    margin: 100px auto 0 auto;
    padding-left: 100px;
  }
  
  .khan__author {
    padding-top: 105px;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
  }
  
  .khan__title {
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
  }
  
  .khan__quote {
    margin-top: 50px;
    width: 790px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }
  
  .khan__quote-author {
    margin-top: 36px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
  }
  .khan__quote-author-subline {
    margin-top: 10px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: normal;
  }
  
  .khan__book-container {
    margin-top: 68px;
    display: flex;
  }
  
  .khan__book-pic {
    width: 620px;
    height: 608px;
    margin-right: 48px;
    background-image: url(/images/khan-book-2.png);
    background-size: cover;
  }
  
  .khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
  }
  
  .khan__buy-link:hover {
    opacity: 0.5;
  }
  
  
  /*           Blok Resources          */
  
  .resources {
    margin-top: 100px;
  }
  
  .resources__logo-zone {
    margin: 80px auto 217px auto;
    display: flex;
    flex-direction: row;
    width: 1100px;
  }
  
  .resources__logo {
  width: 270px;
  height: 38px;
  }
  
  .resources__logo:hover {
    opacity: 0.5;
  }